BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 200
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: InlineOnly
SpaceBeforeParens: ControlStatements
AlwaysBreakAfterReturnType: None
SortIncludes: true
ReflowComments: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
DerivePointerAlignment: false
PointerAlignment: Left
BinPackParameters: false
BinPackArguments: false
